
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Lista de Categorias</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn btn-primary">Crear Nueva Categoria</a>
        </div>
    </div>

    <br />
    <br />

    <table id="tblCategorias" class="table table-hover table-dark" style="width: 100%">
        <thead>
            <tr scope="row" class="table-light">
                <th>Id</th>
                <th>Nombre</th>
                <th>Orden</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{ 
    <script src="~/js/categoria.js"></script>
}

